{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %} 

{% block main %} 
    <h1>Welcome to your journal</h1>
    <div>
        <h2>Entries</h2>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Entry number</th>
                    <th>Date</th>
                    <th>View Entry</th>
                </tr>
            </thead>
            <tbody>
                <!--Loop through database to display entry number and date-->
                {% for entry in entries %}
                    <tr>
                        <td>{{ entry["entry_id"] }}</td>
                        <td>{{ entry["date"] }}</td>
                        <td>
                            <form method="post">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#entryModal" data-myentry='{{ entry | tojson }}'>View</button>
                                <button type="submit" class="btn btn-danger" name="delete_button" value="{{ entry.journal_id }}">Delete</button>
                            </form>  
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="entryModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-scrollable modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="entryModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p id="entryParagraph"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}